* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-area {
  background-color: #424141;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.logo img {
  width: 100px;
  height: 30px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  text-decoration: none;
  list-style: none;
  margin-left: 15px;
}

.menu ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

/* slider-area  */

.slider-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
  background-size: cover;
  height: 100vh;
}

.slider-img img {
  width: 300px;
}

.slider-text h2 {
  color: #fff;
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 20px;
}

.slider-text p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  background-color: red;
  padding: 15px 25px;
  border: none;
  color: #fff;
}

.common-heading {
  color: #000;
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}

.about-area {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 25px;
}

.about-img img {
  width: 300px;
}

.about-text h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.about-text p {
  margin-bottom: 15px;
  font-size: 20px;
}

.service-area {
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
  /* background-size: cover; */
  height: 70vh;
}

.product-text {
  color: #fff;
}

.product-sizing {
  display: flex;
  justify-content: space-around;
}

.product-img img {
  width: 70px;
  color: #2e2e2e;
}

.product-box {
  width: 200px;
  height: 280px;
  padding: 15px;
  text-align: center;
  box-shadow: 4px 2px 105px gray;
  background-color: #000;
  margin-top: 25px;
  border-radius: 10px;
}
